<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='9cd81f9f5dc210d79cd81f9f5dc210d7'/>
  <team v='234980'/>
  <user v='llkyfqdwnfmz'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
